#session_table {
	max-width: 100%;
	
	.country_column, .revoke_column {
		width: 75px;
	}
	
	.address_column {
		width: 150px;
	}
	
	.flag-icon {
		margin-right: 8px;
	}
	
	.self {
		font-weight: normal;
		font-size: 10pt;
	}
	
	td.country_column, td.revoke_column {
		text-align: center;
	}
	
	.remote-address {
		/*word-break: break-all*/
	}
}

h1 span.tag {
	margin-left: 12px;
	font-weight: 400;
	font-size: smaller;
	border-radius: 8px;
}

#login_container {
	margin-left: auto;
	margin-right: auto;
	max-width: 600px;
}

#backup-codes {
	gap: 20px;
	max-width: 300px;
	margin-left: auto;
	margin-right: auto;
	
	@supports not (selector(:first-child)) {
		& > * {
			margin: 10px;
		}
	}
	
	div.flex-grid-item {
		flex: 1 1 45%;
		text-align: center;
	}
}

#add-authenticator-content {
	display: flex;
	gap: 20px;
	
	@supports not (selector(:first-child)) {
		& > * {
			margin: 10px;
		}
	}
}

#add-authenticator-qrcode {
	width: 100%;
	height: auto;
	display: block;
	background-color: #ffffff;
	padding: 10px;
	box-sizing: border-box;
}

#add-authenticator-content-left {
	flex: 1 1 33%;
}

#add-authenticator-content-right {
	flex: 2 2 66%;
}

#drop_hover_instructions {
	pointer-events: none;
}

.session-app-card {
	display: flex;
	flex-direction: row;
	align-items: center;
	
	.session-app-icon {
		img {
			box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		}
		
		flex: 0 0 40px;
	}
	
	.session-app-name {
		
	}
	
	&+.session-app-agent {
		margin-top: 10px;
	}
}

.services-grid {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	
	.service {
		width: 200px;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		padding: 1rem;
		box-sizing: border-box;
		background-color: white;
		
		.service-logo {
			img {
				width: 100%;
				height: auto;
				display: block;
				max-height: 75px;
			}
			
			flex: 1 1 auto;
		}
		
		.service-name {
			font-weight: bold;
			word-break: break-all;
			text-align: center;
		}
		
		.service-uid {
			word-break: keep-all;
		}
		
		.service-action {
			
		}
	}
	
	.service-nitrado, .service-gameserverapp {
		background-color: black;
		color: white;
		
		&.inactive {
			background-color: white;
			color: black;
			
			.service-logo img {
				filter: brightness(0%);
			}
		}
	}		
}

#static-token-token-field {
	height: 100px;
	resize: none;
}
