#omni_instructions_internet, #omni_instructions_no_internet {
	margin-top: 40px;
	margin-bottom: 40px;
}

#drop_area, #drop_hover_instructions {
	display: none;
}

#upload_container.live-supported {
	#upload_activation_form {
		display: none;
	}
	
	#drop_area {
		display: block;
		text-align: center;
		border-width: 1px;
		border-style: solid;
		padding: 30px 15px;
		margin-left: auto;
		margin-right: auto;
		max-width: 500px;
		box-sizing: border-box;
		
		&.highlight {
			#drop_hover_instructions {
				display: inline;
			}
			
			#drop_initial_instructions {
				display: none;
			}
		}
	}
}

#img_signin_auth {
	background-image: url(/omni/welcome/auth.png);
	width: 150px;
	height: 118px;
}

#img_signin_import {
	background-image: url(/omni/welcome/import.png);
	width: 150px;
	height: 59px;
}

#img_signin_password {
	background-image: url(/omni/welcome/password.png);
	width: 150px;
	height: 59px;
	clear: left;
	margin-top: 6px;
}

.omni-section {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3em;
	margin-bottom: 3em;
	box-sizing: border-box;
}

.action-link+.action-link {
	margin-left: 12px;
}

.signin_step+.signin_step {
	margin-top: 20px;
	border-top-width: 1px;
	border-top-style: solid;
	padding-top: 20px;
}

.signin_text {
	padding-left: 170px;
}

.img_signin {
	border-width: 1px;
	border-style: solid;
	background-size: 100%;
	float: left;
	background-color: rgba(255, 255, 255, 0.05);
}

#img_signin_menu {
	background-image: url(/omni/welcome/menu_15.png);
	width: 150px;
	height: 118px;
}

#img_signin_link {
	background-image: url(/omni/welcome/signin_15.png);
	width: 150px;
	height: 59px;
}

#img_signin_enable {
	background-image: url(/omni/welcome/enable_cloud_15.png);
	width: 150px;
	height: 59px;
	clear: left;
	margin-top: 6px;
}

#img_signin_options {
	background-image: url(/omni/welcome/options_15.png);
	width: 150px;
	height: 59px;
}

#img_signin_fields {
	background-image: url(/omni/welcome/fields_15.png);
	width: 150px;
	height: 59px;
	clear: left;
	margin-top: 6px;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	#img_signin_menu {
		background-image: url(/omni/welcome/menu_15@2x.png);
	}
	
	#img_signin_options {
		background-image: url(/omni/welcome/options_15@2x.png);
	}
	
	#img_signin_fields {
		background-image: url(/omni/welcome/fields_15@2x.png);
	}
}

#checking_container {
	background-color: rgba(0, 0, 0, 0.02);
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 12px;
	border-radius: 6px;
	text-align: center;
	
	@media (prefers-color-scheme: dark) {
		background-color: rgba(255, 255, 255, 0.02);
		border-color: rgba(255, 255, 255, 0.1);
	}
}

#checking_spinner {
	vertical-align: middle;
	margin-right: 12px;
}

#checking_text {
	line-height: 1.5em;
	font-weight: bold;
}

#checking_subtext {
	font-size: smaller;
	color: rgba(0, 0, 0, 0.8);
	
	@media (prefers-color-scheme: dark) {
		color: rgba(255, 255, 255, 0.8);
	}
}

#purchase_confirmed {
	display: none;
}

#purchase_unknown {
	display: none;
}

#purchase_delayed {
	margin-top: 30px;
	display: none;
}

#signin_instructions {
	display: none;
	margin-top: 30px;
}

.welcome_content {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	box-sizing: border-box;
}

.push {
	clear: both;
	overflow: hidden;
	height: 0px;
}

table.generic .bullet-column {
	width: 100px;
}

td.bullet-column {
	color: #008000;
}

#cart_back_paragraph {
	float: left;
}

.price_column {
	width: 115px;
	text-align: right;
}

.quantity_column {
	width: 75px;
	text-align: center;
}

#email_section {
	border-width: 1px;
	border-style: solid;
	clear: both;
	padding: 20px;
	margin: 20px auto;
	border-radius: 6px;
	max-width: 400px;
}

#checkout_methods_cell {
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	margin-bottom: 5px;
	justify-content: center;
	
	img {
		margin: 5px;
		float: left;
		display: block;
		height: 22px;
	}
	
	&.usd {
		.usd {
			display: block;
		}
		
		.eur {
			display: none;
		}
		
		.gbp {
			display: none;
		}
	}
	
	&.eur {
		.usd {
			display: none;
		}
		
		.eur {
			display: block;
		}
		
		.gbp {
			display: none;
		}
	}
	
	&.gbp {
		.usd {
			display: none;
		}
		
		.eur {
			display: none;
		}
		
		.gbp {
			display: block;
		}
	}
}

#checkout_button_cell {
	text-align: center;
}

#checkout_currency_cell {
	text-align: center;
	font-size: small;
	
	a {
		display: inline-block;
		padding: 2px 6px;
		border-radius: 4px;
		text-decoration: none;
		margin-left: 0.2em;
		margin-right: 0.2em;
		color: #084FD1;
		
		&.chosen {
			background-color: #084FD1;
			color: white;
		}
	}
}

@media (prefers-color-scheme: dark) {
	#checkout_currency_cell a {
		color: #3486FE;
		
		&.chosen {
			background-color: #3486FE;
		}
	}
}

#checkout-wizard-game-list {
	& > div {
		display: flex;
		align-items: center;
		
		&+div {
			margin-top: 20px;
		}
		
		.checkout-wizard-checkbox-cell {
			flex: 0 1 auto;
		}
		
		.checkout-wizard-description-cell {
			flex: 1 1 auto;
			padding-left: 10px;
			padding-right: 10px;
			
			& > label {
				font-weight: bold;
			}
			
			.checkout-wizard-game-status {
				font-size: smaller;
				opacity: 0.8;
			}
			
			div.field-with-label {
				display: inline-flex;
				align-items: center;
				gap: 12px;
				
				& > div:nth-child(1) {
					flex: 0 0 auto;
					text-align: right;
				}
				
				& > div:nth-child(2) {
					flex: 0 0 60px;
				}
				
				& > div:nth-child(3) {
					flex: 0 0 auto;
				}
			}
		}
		
		.checkout-wizard-price-cell {
			flex: 0 1 auto;
			
			.checkout-wizard-discounted {
				text-decoration: line-through;
			}
			
			.checkout-wizard-discount {
				
			}
		}
	}
}
