@use "theme" as * with (
	$foreground-color: #ffffff,
	$background-color: #9c0fb0,
	$accent-color: #ffffff,
	$button-gray: #ab33bc
);

#header_logo, .white-on-dark, .accented-foreground {
	filter: brightness(0) invert(1);
}
