@use "theme" as * with (
	$foreground-color: #ffffff,
	$background-color: #262626,
	$accent-color: #9c0fb0
);

#header_logo, .white-on-dark {
	filter: brightness(0) invert(1);
}

.accented-foreground {
	filter: invert(22%) sepia(68%) saturate(2401%) hue-rotate(271deg) brightness(88%) contrast(105%);
}
