body {
	background-color: #323232;
	color: rgba(255, 255, 255, 0.99);
}

#branding_section {
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom-color: rgba(255, 255, 255, 0.1);
}

.explanation {
	color: rgba(255, 255, 255, 0.85);
}

a {
	color: #67AEF9;
}

a:visited {
	color: #C07FEE;
}

a:active {
	color: #EF6953;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"],
a.button {
	background-color: rgba(255, 255, 255, 0.1);
	border-color: rgba(255, 255, 255, 0.3);
	box-shadow: none;
	color: rgba(255, 255, 255, 0.9);
}

button:enabled:active,
input[type="button"]:enabled:active,
input[type="reset"]:enabled:active,
a.button:active {
	background-color: rgba(128, 128, 128, 0.1);
	color: rgba(128, 128, 128, 0.9);
	border-color: rgba(128, 128, 128, 0.3);
}

a.button:hover {
	text-decoration: none;
}

button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
a.button:disabled {
	cursor: default;
	opacity: 0.25;
}

button.primary_button,
input[type="submit"] {
	border-color: #713a9a;
	background-color: #713a9a;
}

button.primary_button:enabled:active,
input[type="submit"]:enabled:active {
	border-color: #35204a;
	background-color: #35204a;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="tel"],
input[type="search"],
input[type="number"],
textarea {
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(255, 255, 255, 0.3);
	color: rgba(255, 255, 255, 0.8);
	box-shadow: none;
	text-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
textarea:focus {
	background-color: rgba(0, 0, 0, 0.4);
	border-color: rgba(255, 255, 255, 0.4);
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="url"]::placeholder,
input[type="tel"]::placeholder,
input[type="search"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
	color: rgba(255, 255, 255, 0.25);
}

#dialog {
	background-color: #2b2b2b;
	border-color: #979797;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

@supports (-webkit-backdrop-filter: blur(15px)) {
	#dialog {
		background-color: rgba(255, 255, 255, 0.1);
		border-color: rgba(255, 255, 255, 0.5);
		-webkit-backdrop-filter: blur(15px);
	}
}