@mixin colorize-callout($callout-color, $callout-text-color) {
	$callout-border-color: mix($callout-color, $callout-text-color, 75%);
	color: $callout-text-color;
	border-color: $callout-border-color $callout-border-color $callout-border-color $callout-text-color;
	background-color: $callout-color;

	a {
		$callout-link-color: lighten($callout-text-color, 5%);
		color: $callout-link-color !important;
		text-decoration-color: rgba($callout-link-color, 30%) !important;

		&:hover {
			text-decoration-color: $callout-link-color !important;
		}
	}
}

blockquote {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	margin-left: 5%;
	margin-right: 5%;
	padding: 1rem;
	border-width: 1px 1px 1px 4px;
	border-style: solid;
	border-radius: 4px;
	text-shadow: 0px 1px 0px $callout-text-shadow-color;
	@include colorize-callout($callout-grey-background-color, $callout-grey-text-color);

	&.titled {
		& > *:first-child {
			margin-bottom: 0px;
			font-weight: bold;
			text-transform: uppercase;
		}

		& > *:nth-child(2) {
			margin-top: 0px;
		}
	}

	&.blue, &.primary {
		@include colorize-callout($callout-blue-background-color, $callout-blue-text-color);
	}

	&.green, &.success, &.tip {
		@include colorize-callout($callout-green-background-color, $callout-green-text-color);
	}

	&.red, &.warning {
		@include colorize-callout($callout-red-background-color, $callout-red-text-color);
	}

	&.yellow, &.caution, &.omni {
		@include colorize-callout($callout-yellow-background-color, $callout-yellow-text-color);
	}

	&.cyan, &.info, &.glossary {
		@include colorize-callout($callout-cyan-background-color, $callout-cyan-text-color);
	}
	
	a {
		word-wrap: break-word;
		white-space: normal !important;
	}
	
	p:first-child {
		margin-top: 0px;
	}
	
	p:last-child {
		margin-bottom: 0px;
	}
}

.site-logo {
	background-position: center center;
}

div.affected_ini_keys {
	text-shadow: 0 1px 0 $body-background-color;
	color: $body-text-color;
	border: 1px solid mix($body-background-color, $body-text-color, 90%);
	background-color: mix($body-background-color, $body-text-color, 97%);
	font-size: 0.8em;
	padding: 15px;
	margin-top: 20px;
	font-weight: 300;
}

div.screenshot {
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
	
	a {
		display: block;
	}
	
	img {
		display: block;
	}

	div.screenshot-caption {
		font-size: 0.75rem;
		text-align: center;
		padding-top: 0.25rem;
		opacity: 0.75;
	}
}

.ui-keyword {
	font-weight: 500;
	color: $keyword-color;
}

h1.editor-title {
	margin-bottom: 0;
}

.supported-games {
	font-size: 0.8rem;
	opacity: 0.75;
	margin-top: 0;
	margin-bottom: 0.25em;
}
