blockquote {
	background-color: mix($body-background-color, $body-text-color, 97%);
	color: $body-text-color;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	margin-right: 5%;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	border-left: 3px solid mix($body-background-color, $body-text-color, 50%);
	
	a {
		word-wrap: break-word;
		white-space: normal !important;
	}
	
	p:first-child {
		margin-top: 0px;
	}
	
	p:last-child {
		margin-bottom: 0px;
	}
}

.site-logo {
	background-position: center center;
}

div.affected_ini_keys {
	text-shadow: 0 1px 0 $body-background-color;
	color: $body-text-color;
	border: 1px solid mix($body-background-color, $body-text-color, 90%);
	background-color: mix($body-background-color, $body-text-color, 97%);
	font-size: 0.8em;
	padding: 15px;
	margin-top: 20px;
	font-weight: 300;
}