blockquote {
	background-color: mix($body-background-color, $body-text-color, 97%);
	color: $body-text-color;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 50px;
	padding-left: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	border-left: 3px solid mix($body-background-color, $body-text-color, 50%);
	
	p:first-child {
		margin-top: 0px;
	}
	
	p:last-child {
		margin-bottom: 0px;
	}
}

.site-logo {
	background-position: center center;
}