$keyword-color: #2E4CB8;
$callout-grey-text-color: #596067;
$callout-grey-background-color: #f0f0f0;
$callout-blue-text-color: #084298;
$callout-blue-background-color: #cfe2ff;
$callout-green-text-color: #0f5132;
$callout-green-background-color: #d1e7dd;
$callout-red-text-color: #842029;
$callout-red-background-color: #f8d7da;
$callout-yellow-text-color: #664d03;
$callout-yellow-background-color: #fff3cd;
$callout-cyan-text-color: #055160;
$callout-cyan-background-color: #cff4fc;
$callout-text-shadow-color: #ffffff;
