$beacon-purple: #9c0fb0;

$tint-blue: #0000ff;
$tint-red: #ff0000;
$tint-green: #228B22;
$tint-yellow: #FFC300;
$tint-cyan: #3AF1ED;
$tint-purple: #800080;

$keyword-color: #2E4CB8;
$callout-text-shadow-color: #ffffff;
