@charset 'UTF-8';
@import '/assets/css/normalize.css';
@import 'https://use.typekit.net/paa2qqa.css';

$header-link-opacity: 0.6;
$header-link-border-opacity: 0.4;
$header-link-pressed-opacity: 0.2;
$header-blurred-opacity: 0.5;
$header-border-opacity: 0.15;
$button-border-radius: 0.5em;
$form-font-size: 16px;

$page_margins: 20px;
$max_content_width: 800px;

$breakpoint_mini: 400px;
$breakpoint_mobile: 635px;
$breakpoint_desktop: $max_content_width + ($page_margins * 2);

$animation-timing: 0.15s;

@mixin source-code-pro() {
	font-family: source-code-pro, monospace;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 11pt;
}

*:first-child {
	margin-top: 0px;
}

*:last-child {
	margin-bottom: 0px;
}

b, strong, .bold {
	font-weight: 700;
}

i, em, .italic {
	font-style: italic;
}

p, h1, h2, h3 {
	margin-bottom: 15px;
	margin-top: 15px;
}

code, .code {
	@include source-code-pro();
	border-width: 1px;
	border-style: solid;
	border-radius: 0.4em;
	padding: 0.2em 0.5em;
	font-size: 0.8em;
	line-height: 2.0em;
}

pre {
	border-width: 1px;
	border-style: solid;
	padding: 0.6em;
	border-radius: 0.4em;
	overflow: auto;
	margin: 10px;
	display: block;
	font-size: 0.8em;
	
	code, .code {
		background: none;
		padding: 0px;
		border-radius: 0px;
		border: none;
	}
}

a {
	word-break: break-word;
}

.source-code-font {
	@include source-code-pro();
}

.break-code {
	word-break: break-word;
	
	code {
		display: initial;
		word-break: break-all;
		border: none;
		padding: 0px;
		background: none;
	}
}

.platform_tag {
	border-radius: 0.5em;
	display: inline-block;
	padding: 2px 8px;
	
	&+& {
		margin-left: 6px;
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.larger {
	font-size: larger;
}

.smaller {
	font-size: smaller;
}

.mini {
	font-size: small;
}

.redacted {
	text-decoration: line-through;
}

.nowrap {
	white-space: nowrap;
}

.push {
	clear: both;
	height: 0px;
	max-height: 0px;
	overflow: hidden;
}

.pagebody {
	margin-left: $page_margins;
	margin-right: $page_margins;
	min-width: 280px;
}

.indent {
	margin-left: 40px;
}

.hidden {
	display: none;
}

div.small_section {
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.option_group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

h1 {
	font-size: 17pt;
}

h2 {
	font-size: 15pt;
}

h3 {
	font-size: 13pt;
}

h1, h2, h3 {
	font-weight: 600;
	line-height: 1.1em;
	
	.subtitle {
		font-weight: 300;
		font-size: 0.7em;
	}
}

.user-suffix {
	font-weight: 300;
}

span.object_type {
	font-weight: 300;
	font-size: smaller;
	float: right;
}

.inset-note {
	border-width: 1px;
	border-style: solid;
	margin-left: 30px;
	margin-right: 30px;
	padding: 15px;
}

blockquote {
	border-left-width: 3px;
	border-left-style: solid;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	
	p:first-child {
		margin-top: 0px !important;
	}
	
	p:last-child {
		margin-bottom: 0px !important;
	}
}

/* ! Generic Table */

table.generic {
	border-collapse: collapse;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	
	td, th {
		border-width: 1px;
		border-style: solid;
		padding: 0.6em;
	}
	
	thead {
		td, th {
			text-align: left;
			font-weight: 400;
		}
	}
}

/* ! Header */

#header_wrapper {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 99;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

#header_logo_cell {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	text-align: center;
}

#header_logo {
	height: 60px;
	vertical-align: top;
}

#header_links_cell {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	overflow: hidden;
	
	ul {
		list-style-type: none;
		margin: 10px 0px 0px 0px;
		padding: 0;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		
		li {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 0px;
			flex: 0 0 0;
			text-align: center;
			white-space: nowrap;
			vertical-align: center;
		}
		
		li+li {
			margin-left: 2px;
		}
		
		li a {
			display: block;
			text-align: center;
			text-decoration: none;
			padding: 0.2em 0.5em;
			border-radius: 1.0em;
			border-width: 1px;
			border-style: solid;
			border-color: rgba(0, 0, 0, 0);
			-webkit-transition-duration: $animation-timing;
			-o-transition-duration: $animation-timing;
			transition-duration: $animation-timing;
			-webkit-transition-timing-function: ease-out;
			-o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			-webkit-transition-property: border-color, color, background-color, border-radius;
			-o-transition-property: border-color, color, background-color, border-radius;
			transition-property: border-color, color, background-color, border-radius;
			
			@media (min-width: 340px) {
				padding-left: 0.75em;
				padding-right: 0.75em;
			}
		}
	}
}

:target:before {
	content: "";
	display: block;
	height: 150px;
	margin: -150px 0 0;
}

#content_wrapper {
	margin-top: 136px;
	line-height: 1.3em;
}

#footer {
	font-size: 0.8em;
	text-align: center;
	margin-top: $page_margins * 2;
	margin-bottom: $page_margins;
	
	a.external_logo {
		margin-left: 6px;
		margin-right: 6px;
		
		img {
			border: none;
		}
	}
}

/* !Buttons */

button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
	-webkit-appearance: none;
	appearance: none;
	border-radius: $button-border-radius;
	border-width: 2px;
	border-style: solid;
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: $form-font-size;
	padding: 0.5em 0.8em;
	text-align: center;
	text-decoration: none;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
	-webkit-transition-property: background-color, color, border-color, opacity;
	-o-transition-property: background-color, color, border-color, opacity;
	transition-property: background-color, color, border-color, opacity;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	vertical-align: middle;
	white-space: nowrap;
	line-height: 1.0em;
	
	+button, +input[type="button"], +input[type="submit"], +input[type="reset"], +a.button {
		margin-left: 12px;
	}
	
	&:disabled {
		cursor: default;
		opacity: 0.25;
	}
}

/* !Fields */

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], textarea {
	-webkit-appearance: none;
	appearance: none;
	border-radius: 0.2em;
	border-width: 1px;
	border-style: solid;
	box-sizing: border-box;
	font-family: inherit;
	font-size: $form-font-size;
	margin: 0px;
	padding: 0.4em;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
	-webkit-transition-property: background-color, color, border-color;
	-o-transition-property: background-color, color, border-color;
	transition-property: background-color, color, border-color;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	width: 100%;
	line-height: 1.0em;
	
	&::placeholder {
		line-height: 1.0em;
		vertical-align: bottom;
		padding-top: 0.3em;
	}
}

/* !Checkboxes & Radios */

label.checkbox input[type="checkbox"],
label.radio input[type="radio"] {
	display: none;
}

label.checkbox span,
label.radio span {
	display: inline-block;
	vertical-align: middle;
	margin: 6px;
	position: relative;
	border-radius: $form-font-size;
	-webkit-transition-property: background-color, border-color;
	-o-transition-property: background-color, border-color;
	transition-property: background-color, border-color;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
	border-width: 2px;
	border-style: solid;
}

label.checkbox span {
	width: 42px;
	height: 20px;
}

label.radio span {
	width: 20px;
	height: 20px;
}

label.checkbox span:after {
	position: absolute;
	top: 3px;
	left: 3px;
	width: 14px;
	height: 14px;
	border-radius: 14px;
	display: block;
	content: '';
	-webkit-transition-property: left, background-color;
	-o-transition-property: left, background-color;
	transition-property: left, background-color;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
}

label.checkbox :checked + span:after {
	left: 26px;
}

label.radio span:after {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	display: block;
	content: '';
	-webkit-transition-property: opacity, background-color;
	-o-transition-property: opacity, background-color;
	transition-property: opacity, background-color;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
	opacity: 0.0;
}

label.radio :checked + span:after {
	opacity: 1.0;
}

/* !Menus */

div.select {
	position: relative ;
	display: inline-block;
	
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		min-height: 22px;
		border: none;
		border-radius: $button-border-radius;
		display: inline-block;
		font-family: inherit;
		font-size: $form-font-size;
		text-align: center;
		text-decoration: none;
		-webkit-transition-duration: $animation-timing;
		-o-transition-duration: $animation-timing;
		transition-duration: $animation-timing;
		-webkit-transition-property: background-color;
		-o-transition-property: background-color;
		transition-property: background-color;
		-webkit-transition-timing-function: ease-out;
		-o-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		vertical-align: middle;
		white-space: nowrap;
		padding: 0.5em 2.5em 0.5em 0.8em;
		line-height: 1.3em;
		
		&:focus {
			font-size: $form-font-size;
		}
	}
	
	span:after {
		position: absolute;
		top: 0.25em;
		right: 0.7em;
		content: '▾';
		font-size: 1.3em;
		pointer-events: none;
	}
}

/* !Explore Popover */

#explore_container {
	display: none;
	z-index: 1000;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#explore_popover {
	position: absolute;
	width: 260px;
	top: 20px;
	left: 20px;
	box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	padding: 9px;
	border: 1px solid #8f8f8f;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	@media (min-width: 350px) {
		width: 310px;
	}
	
	#explore_search_field {
		margin-bottom: 9px;
	}
	
	#explore_results {
		display: none;
		
		ul {
			max-height: 250px;
			overflow-y: auto;
		}
	}
	
	#explore_results_empty {
		display: none;
		text-align: center;
	}
	
	#explore_results_buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 9px;
		width: 100%;
		
		#explore_results_left_button {
			-webkit-box-flex: 1;
			-ms-flex: 1 0 0px;
			flex: 1 0 0;
			text-align: left;
		}
		
		#explore_results_right_button {
			-webkit-box-flex: 1;
			-ms-flex: 1 0 0px;
			flex: 1 0 0;
			text-align: right;
		}
	}
	
	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		
		li {
			a {
				text-decoration: none;
				border-radius: 4px;
				padding: 4px 6px;
				-webkit-transition-property: color, background-color;
				-o-transition-property: color, background-color;
				transition-property: color, background-color;
				-webkit-transition-duration: $animation-timing;
				-o-transition-duration: $animation-timing;
				transition-duration: $animation-timing;
				-webkit-transition-timing-function: ease-out;
				-o-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				display: block;
				
				.result_preview {
					font-size: 10pt;
				}
				
				.result_type {
					font-size: 9pt;
					margin-left: 12px;
					float: right;
					border-width: 1px;
					border-style: solid;
					padding: 2px 4px;
					border-radius: 4px;
				}
			}
			
			+li {
				margin-top: 4px;
			}
		}
	}
}

#menu_explore_link.expanded {
	border-radius: 4px 4px 0px 0px;
}

/* !Double Column & Triple Column */

div.double_column,
div.triple_column {
	display: table;
	width: 100%;
	border-spacing: 30px;
	border-collapse: separate;
}

div.double_column div.column,
div.triple_column div.column {
	display: table-row;
	width: 100%;
	vertical-align: top;
}

/* !Search Results */

div.results {
	span.result_type {
		font-weight: 500;
		margin: 0.8em;
	}
	
	div.result {
		border: 1px solid #e4e4e4;
		padding: 0.8em;
		border-radius: 0.5em;
		
		+div.result {
			margin-top: 0.8em;
		}
		
		span.summary {
			font-size: 0.9em;
		}
	}
}

/* !Dialog & Overlay */

#overlay {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	transition-property: background-color, -webkit-backdrop-filter;
	z-index: 2000;
	background-color: rgba(0, 0, 0, 0.0);
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	&.exist {
		display: block;
	}
}

#dialog {
	display: none;
	position: fixed;
	top: 30%;
	left: 0px;
	right: 0px;
	z-index: 2001;
	opacity: 0;
	transition-duration: 0.15s;
	transition-timing-function: ease-out;
	transition-property: opacity;
	transition-delay: 0s;
	
	&.exist {
		display: block;
	}
	
	&.visible {
		opacity: 1;
		transition-delay: 0.2s;
	}
	
	p {
		margin: 20px;
	}
}

#dialog_inner {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}

#dialog_message {
	font-weight: 600;
	text-align: left;
}

#dialog_explanation {
	text-align: left;
	font-size: smaller;
}

#dialog_buttons {
	text-align: center;
}

#knowledge_wrapper {
	#knowledge_main {
		line-height: 1.4em;
		
		h2, h3 {
			border-bottom-width: 1px;
			border-bottom-style: solid;
			padding-bottom: 0.3em;
		}
		
		h1, h2, h3, h4, h5, h6 {
			margin-top: 20px;
		}
		
		p, ul, ol {
			margin-top: 8px;
		}
		
		p, ul, ol, h1, h2, h3 {
			margin-bottom: 8px;
			
			&:first-child {
				margin-top: 0px;
			}
		}
		
		
		h4, h5, h6 {
			margin-bottom: 0px;
			font-weight: 600;
		}
		
		code {
			padding: 0px 5px;
			border-radius: 4px;
			line-height: 1.4em;
		}
		
		pre {
			margin-top: 15px;
			margin-bottom: 15px;
		}
		
		.affected_ini_keys {
			border-top-width: 1px;
			border-top-style: solid;
			font-size: 0.8em;
			padding: 15px;
			margin-top: 20px;
			font-weight: 300;
		}
	}
	
	#knowledge_contents {
		border-top-width: 1px;
		border-top-style: solid;
		margin-top: 30px;
		padding-top: 30px;
		font-size: 0.9em;
		
		#knowledge_search_block {
			text-align: center;
			margin-bottom: 30px;
		}
		
		p {
			margin-top: 0px;
			margin-bottom: 0px;
			padding-left: 1em;
			text-indent: -1em;
			font-size: 1.1em;
			font-weight: 500;
		}
		
		ul {
			margin-top: 4px;
			list-style: none;
			padding-left: 0px;
			
			&+p {
				margin-top: 12px;
			}
			
			li {
				padding-left: 10px;
				padding-top: 4px;
				padding-bottom: 4px;
				
				&.current {
					padding-left: 7px;
					border-left-width: 3px;
					border-left-style: solid;
				}
				
				&+li {
					border-top-width: 1px;
					border-top-style: solid;
				}
				
				&:first-child {
					padding-top: 0px;
				}
				
				&:last-child {
					padding-bottom: 0px;
				}
				
				a {
					text-decoration: none;
					
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}

ul.object_list {
	list-style: none;
	padding-left: 15px;
	
	li+li {
		margin-top: 10px;
	}
}

.notice-block {
	border-width: 1px;
	border-style: solid;
	text-align: center;
	padding: 16px;
}

@media (min-width: $breakpoint_mini) {
	#header_logo {
		height: 80px;
	}
	
	#content_wrapper {
		margin-top: 156px;
	}
}

@media (min-width: $breakpoint_mobile) {
	body {
		font-size: 13pt;
	}
	
	h1 {
		font-size: 19pt;
	}
	
	h2 {
		font-size: 17pt;
	}
	
	h3 {
		font-size: 15pt;
	}
	
	#header_wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	#header {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	#header_logo_cell {
		-ms-flex-preferred-size: 80px;
		flex-basis: 80px;
	}
	
	#header_links_cell {
		height: auto;
	}
	
	#header_links_cell ul {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		margin: 0px;
	}
	
	#header_links_cell li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 0px;
		flex: 0 0 0;
	}
	
	#content_wrapper {
		margin-top: 141px;
	}
	
	:target:before {
		height: 140px;
		margin: -140px 0 0;
	}
}

@media (min-width: $breakpoint_desktop) {
	.pagebody {
		width: $max_content_width;
		margin-left: auto;
		margin-right: auto;
	}
	
	div.double_column div.column {
		display: table-cell;
		width: 50%;
	}
	
	div.triple_column div.column {
		display: table-cell;
		width: 33%;
	}
	
	#knowledge_wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		
		#knowledge_main {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0;
			padding-right: 20px;
			width: ($max_content_width - 220);
		}
		
		#knowledge_contents {
			display: -webkit-box;
			display: -ms-flexbox;
			display: flex;
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			-ms-flex-direction: column;
			flex-direction: column;
			-webkit-box-flex: 0;
			-ms-flex-positive: 0;
			flex-grow: 0;
			width: 220px;
			border-left-width: 1px;
			border-left-style: solid;
			border-top: none;
			padding-left: 20px;
			padding-top: 0px;
			margin-top: 0px;
		}
	}
}

@media print {
	#header,
	#header_wrapper,
	#footer {
		display: none;
	}
	
	#content_wrapper {
		margin-top: 20px;
		margin-bottom: 20px;
	}
}