@charset 'UTF-8';
@import '/assets/css/normalize.css';
@import 'https://use.typekit.net/paa2qqa.css';

$beacon-purple: #713a9a;
$pc-orange: #c27c0e;
$xbox-green: #107c10;
$playstation-blue: #003791;
$switch-red: #e60012;

$header-link-opacity: 0.6;
$header-link-border-opacity: 0.4;
$header-link-pressed-opacity: 0.2;
$header-blurred-opacity: 0.5;
$header-border-opacity: 0.15;
$button-border-radius: 0.5em;
$form-font-size: 16px;

$page_margins: 20px;
$max_content_width: 800px;

$breakpoint_mini: 400px;
$breakpoint_mobile: 635px;
$breakpoint_desktop: $max_content_width + ($page_margins * 2);

$animation-timing: 0.15s;

@mixin source-code-pro() {
	font-family: source-code-pro, monospace;
	font-weight: 400;
	font-style: normal;
}

body {
	font-family: acumin-pro, sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 11pt;
	color: #000000;
	background-color: #ffffff;
}

*:first-child {
	margin-top: 0px;
}

*:last-child {
	margin-bottom: 0px;
}

b, strong, .bold {
	font-weight: bold;
}

i, em, .italic {
	font-style: italic;
}

p, h1, h2, h3 {
	margin-bottom: 15px;
	margin-top: 15px;
}

pre {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.6em;
	border-radius: 0.4em;
	overflow: auto;
	background-color: rgba(255, 255, 255, 0.75);
	color: #000000;
	text-shadow: 0px 1px 0px #ffffff;
	margin: 10px;
	display: block;
	font-size: 0.8em;
}

code, .code {
	@include source-code-pro();
	background-color: #f4f4f4;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0.4em;
	padding: 0.2em 0.5em;
	font-size: 0.8em;
	line-height: 2.0em;
}

.source-code-font {
	@include source-code-pro();
}

.break-code code {
	word-break: break-all;
	display: block;
}

.platform_tag {
	color: #FFFFFF;
	border-radius: 0.5em;
	display: inline-block;
	padding: 2px 8px;
	
	&+& {
		margin-left: 6px;
	}
	
	&.xbox {
		background-color: $xbox-green;
	}
	
	&.playstation {
		background-color: $playstation-blue;
	}
	
	&.nintendo {
		background-color: $switch-red;
	}
	
	&.pc {
		background-color: $pc-orange;
	}
}

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.larger {
	font-size: larger;
}

.smaller {
	font-size: smaller;
}

.redacted {
	text-decoration: line-through;
}

.nowrap {
	white-space: nowrap;
}

.push {
	clear: both;
	height: 0px;
	max-height: 0px;
	overflow: hidden;
}

.pagebody {
	margin-left: $page_margins;
	margin-right: $page_margins;
	min-width: 280px;
}

.indent {
	margin-left: 40px;
}

.option_group {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

h1 {
	font-size: 17pt;
}

h2 {
	font-size: 15pt;
}

h3 {
	font-size: 13pt;
}

h1, h2, h3 {
	font-weight: 400;
	line-height: 1.1em;
	
	.subtitle {
		font-weight: 300;
		font-size: 0.7em;
	}
}

/* ! Generic Table */

table.generic {
	border-collapse: collapse;
	width: 100%;
	border: 1px solid $beacon-purple;
	
	td, th {
		border: 1px solid #f4f4f4;
		padding: 0.6em;
	}
	
	thead {
		background-color: $beacon-purple;
		color: #FFFFFF;
		
		td, th {
			border-color: $beacon-purple;
			text-align: left;
			font-weight: 400;
		}
	}
}

/* ! Header */

#header_wrapper {
	background-color: #ffffff;
	border-bottom: 1px solid rgba(0, 0, 0, $header-border-opacity);
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 99;
	padding-top: 10px;
	padding-bottom: 10px;
}

#header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-box-align: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
}

#header_logo_cell {
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	text-align: center;
}

#header_logo {
	height: 60px;
	vertical-align: top;
}

#header_links_cell {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	overflow: hidden;
	
	ul {
		list-style-type: none;
		margin: 10px 0px 0px 0px;
		padding: 0;
		overflow: hidden;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 100%;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		
		li {
			-webkit-box-flex: 0;
			-ms-flex: 0 0 0px;
			flex: 0 0 0;
			text-align: center;
			white-space: nowrap;
			vertical-align: center;
		}
		
		li+li {
			margin-left: 2px;
		}
		
		li a {
			display: block;
			color: rgba(0, 0, 0, $header-link-opacity);
			text-align: center;
			text-decoration: none;
			padding: 0.2em 0.5em;
			border-radius: 1.0em;
			border: 1px solid rgba(0, 0, 0, 0.0);
			background-color: rgba(0, 0, 0, 0.0);
			-webkit-transition-duration: $animation-timing;
			-o-transition-duration: $animation-timing;
			transition-duration: $animation-timing;
			-webkit-transition-timing-function: ease-out;
			-o-transition-timing-function: ease-out;
			transition-timing-function: ease-out;
			-webkit-transition-property: border-color, color, background-color, border-radius;
			-o-transition-property: border-color, color, background-color, border-radius;
			transition-property: border-color, color, background-color, border-radius;
			
			@media (min-width: 340px) {
				padding-left: 0.75em;
				padding-right: 0.75em;
			}
			
			&:hover {
				border-color: rgba(0, 0, 0, $header-link-border-opacity);
			}
			
			&:active {
				background-color: rgba(0, 0, 0, $header-link-pressed-opacity);
			}
		}
	}
}

#content_wrapper {
	margin-top: 136px;
	line-height: 1.3em;
}

#footer {
	font-size: 0.8em;
	text-align: center;
	margin-top: $page_margins;
	margin-bottom: $page_margins;
	
	a.external_logo {
		margin-left: 6px;
		margin-right: 6px;
		
		img {
			border: none;
		}
	}
}

a {
	color: #2e7fda;
}

/* !Buttons */

@keyframes default_button {
	50% { background-color: lighten($beacon-purple, 15%); }
}

@mixin active-button {
	background-color: darken($beacon-purple, 15%);
	color: darken(#ffffff, 15%);
}

button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
	-webkit-appearance: none;
	appearance: none;
	background-color: $beacon-purple;
	border-radius: $button-border-radius;
	border: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: $form-font-size;
	padding: 0.5em 0.8em;
	text-align: center;
	text-decoration: none;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
	-webkit-transition-property: background-color, color, border-color, opacity;
	-o-transition-property: background-color, color, border-color, opacity;
	transition-property: background-color, color, border-color, opacity;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	vertical-align: middle;
	white-space: nowrap;
	line-height: 1.0em;
	
	+button, +input[type="button"], +input[type="submit"], +input[type="reset"], +a.button {
		margin-left: 12px;
	}
	
	&:enabled {
		&:active {
			@include active-button;
		}
	}
	
	&:disabled {
		cursor: default;
		opacity: 0.25;
	}
}

a.button:active {
	@include active-button;
}

input[type="submit"] {
	animation: default_button 2s infinite;
	&:enabled {
		&:active {
			animation: none;
		}
	}
}

/* !Fields */

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], textarea {
	-webkit-appearance: none;
	appearance: none;
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 0.2em;
	border: 1px solid rgba(0, 0, 0, 0.4);
	box-sizing: border-box;
	font-family: inherit;
	font-size: $form-font-size;
	margin: 0px;
	padding: 0.4em;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
	-webkit-transition-property: background-color, color, border-color;
	-o-transition-property: background-color, color, border-color;
	transition-property: background-color, color, border-color;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	width: 100%;
	line-height: 1.0em;
	
	&:focus {
		background-color: #ffffff;
	}
	
	&::placeholder {
		color: rgba(0, 0, 0, 0.5);
		line-height: 1.0em;
		vertical-align: bottom;
		padding-top: 0.3em;
	}
}

/* !Checkboxes & Radios */

label.checkbox input[type="checkbox"],
label.radio input[type="radio"] {
	display: none;
}

label.checkbox span,
label.radio span {
	display: inline-block;
	background-color: #d0d0d0;
	vertical-align: middle;
	margin: 6px;
	position: relative;
	border-radius: $form-font-size;
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	transition-property: background-color;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
}

label.checkbox span {
	width: 46px;
	height: 24px;
}

label.radio span {
	width: 24px;
	height: 24px;
}

label.checkbox :checked + span,
label.radio :checked + span {
	background-color: $beacon-purple;
}

label.checkbox span:after {
	position: absolute;
	top: 5px;
	left: 5px;
	background-color: #FFFFFF;
	width: 14px;
	height: 14px;
	border-radius: 14px;
	display: block;
	content: '';
	-webkit-transition-property: left, background-color;
	-o-transition-property: left, background-color;
	transition-property: left, background-color;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
}

label.checkbox :checked + span:after {
	left: 26px;
}

label.radio span:after {
	position: absolute;
	top: 6px;
	left: 6px;
	background-color: #ffffff;
	width: 12px;
	height: 12px;
	border-radius: 12px;
	display: block;
	content: '';
	-webkit-transition-property: opacity, background-color;
	-o-transition-property: opacity, background-color;
	transition-property: opacity, background-color;
	-webkit-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	-webkit-transition-duration: $animation-timing;
	-o-transition-duration: $animation-timing;
	transition-duration: $animation-timing;
	opacity: 0.0;
}

label.radio :checked + span:after {
	opacity: 1.0;
}

label.checkbox :active + span,
label.radio :active + span {
	background-color: #b5b5b5;
}

label.checkbox :checked:active + span,
label.radio :checked:active + span {
	background-color: darker($beacon-purple, 15%);
}

/* !Menus */

div.select {
	position: relative ;
	display: inline-block;
	
	select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		min-height: 22px;
		border: none;
		border-radius: $button-border-radius;
		background-color: $beacon-purple;
		display: inline-block;
		color: #FFFFFF;
		font-family: inherit;
		font-size: $form-font-size;
		text-align: center;
		text-decoration: none;
		-webkit-transition-duration: $animation-timing;
		-o-transition-duration: $animation-timing;
		transition-duration: $animation-timing;
		-webkit-transition-property: background-color;
		-o-transition-property: background-color;
		transition-property: background-color;
		-webkit-transition-timing-function: ease-out;
		-o-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
		vertical-align: middle;
		white-space: nowrap;
		padding: 0.5em 2.5em 0.5em 0.8em;
		line-height: 1.3em;
		
		&:active {
			background-color: darken($beacon-purple, 15%);
		}
		
		&:focus {
			font-size: $form-font-size;
		}
	}
	
	span:after {
		position: absolute;
		top: 0.25em;
		right: 0.7em;
		content: '▾';
		color: #FFFFFF;
		font-size: 1.3em;
		pointer-events: none;
	}
}

/* !Explore Popover */

#explore_container {
	display: none;
	z-index: 1000;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

#explore_popover {
	position: absolute;
	background-color: #ffffff;
	width: 260px;
	top: 20px;
	left: 20px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	padding: 9px;
	border: 1px solid #8f8f8f;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	
	@media (min-width: 350px) {
		width: 310px;
	}
	
	#explore_search_field {
		margin-bottom: 9px;
	}
	
	#explore_results {
		display: none;
		
		ul {
			max-height: 250px;
			overflow-y: auto;
		}
	}
	
	#explore_results_empty {
		display: none;
		text-align: center;
	}
	
	#explore_results_buttons {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		margin-top: 9px;
		width: 100%;
		
		#explore_results_left_button {
			-webkit-box-flex: 1;
			-ms-flex: 1 0 0px;
			flex: 1 0 0;
			text-align: left;
		}
		
		#explore_results_right_button {
			-webkit-box-flex: 1;
			-ms-flex: 1 0 0px;
			flex: 1 0 0;
			text-align: right;
		}
	}
	
	ul {
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		overflow: hidden;
		
		li {
			a {
				text-decoration: none;
				border-radius: 4px;
				padding: 4px 6px;
				-webkit-transition-property: color, background-color;
				-o-transition-property: color, background-color;
				transition-property: color, background-color;
				-webkit-transition-duration: $animation-timing;
				-o-transition-duration: $animation-timing;
				transition-duration: $animation-timing;
				-webkit-transition-timing-function: ease-out;
				-o-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
				color: rgba(0, 0, 0, 0.7);
				display: block;
				
				&:hover {
					background-color: $beacon-purple;
					color: #ffffff;
					
					.result_preview {
						color: #ffffff;
					}
					
					.result_type {
						color: #ffffff;
						border-color: #ffffff;
					}
				}
				
				.result_preview {
					font-size: 10pt;
					color: rgba(0, 0, 0, 0.5);
				}
				
				.result_type {
					font-size: 9pt;
					color: rgba(0, 0, 0, 0.4);
					margin-left: 12px;
					float: right;
					border: 1px solid rgba(0, 0, 0, 0.2);
					padding: 2px 4px;
					border-radius: 4px;
				}
			}
			
			+li {
				margin-top: 4px;
			}
		}
	}
}

#menu_explore_link.expanded {
	background-color: #8f8f8f;
	border-radius: 4px 4px 0px 0px;
	border-color: rgba(0, 0, 0, 0);
	color: #ffffff;
	
	&:hover {
		border-color: rgba(0, 0, 0, 0);
	}
}

/* !Dark Mode */

@mixin dark-mode($foreground-color, $background-color) {
	#header_wrapper {
		background-color: $background-color;
		border-color: rgba($foreground-color, $header-border-opacity);
	}
	
	#header_logo, .white-on-dark {
		filter: brightness(0) invert(1);
	}
	
	#header_links_cell ul li a {
		color: rgba($foreground-color, $header-link-opacity);
		
		&:hover {
			border-color: rgba($foreground-color, $header-link-border-opacity);
		}
		
		&:active {
			background-color: rgba($foreground-color, $header-link-pressed-opacity);
		}
	}
	
	input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], textarea {
		border-color: rgba($foreground-color, 0.2);
		background-color: rgba($foreground-color, 0.1);
		color: $foreground-color;
		
		&:focus {
			background-color: #ffffff;
			color: #000000;
			
			&::placeholder {
				color: rgba(0, 0, 0, 0.5);
			}
		}
		
		&::placeholder {
			color: rgba($foreground-color, 0.4);
		}
	}
	
	button, input[type="button"], input[type="submit"], input[type="reset"], a.button {
		background-color: rgba($foreground-color, 0.2);
		
		&:enabled {
			&:active {
				background-color: darken($background-color, 5%);
				color: darken($foreground-color, 15%);
			}
		}
	}
	
	a.button:active {
		background-color: darken($background-color, 5%);
		color: darken($foreground-color, 15%);
	}
	
	$keyframe_selector_suffix: "" + red($foreground-color) + green($foreground-color) + blue($foreground-color);
	
	@keyframes default_button_#{$keyframe_selector_suffix} {
		50% { background-color: rgba($foreground-color, 0.35); }
	}
	
	input[type="submit"] {
		animation: default_button_#{$keyframe_selector_suffix} 2s infinite;
	}
	
	div.select {
		select {
			background-color: rgba($foreground-color, 0.2);
			color: $foreground-color;
			
			&:active {
				background-color: darken($background-color, 5%);
			}
		}
		
		span:after {
			color: $foreground-color;
		}
	}
	
	label.radio, label.checkbox {
		span {
			background-color: rgba($foreground-color, 0.2);
			
			&:after {
				background-color: $foreground-color;
			}
		}
		
		& :checked {
			&:active {
				+span {
					background-color: darken($foreground-color, 25%);
				}
			}
			
			+span {
				background-color: $foreground-color;
			
				&:after {
					background-color: $background-color;
				}
			}
		}
		
		& :active {
			+span {
				background-color: darken($background-color, 5%);
			}
		}
	}
	
	#menu_explore_link.expanded {
		background-color: darken($background-color, 10%);
		color: $foreground-color;
	}
	
	@supports (-webkit-backdrop-filter: blur(30px)) {
		#header_wrapper {
			-webkit-backdrop-filter: blur(30px);
			background-color: rgba($background-color, $header-blurred-opacity);
		}
		
		#explore_popover {
			//-webkit-backdrop-filter: blur(30px);
			//background-color: rgba(0, 0, 0, 0.3);
		}
		
		#menu_explore_link.expanded {
			//background-color: rgba(0, 0, 0, 0.3);
		}
	}
	
	#explore_popover {
		background-color: darken($background-color, 10%);
		border-color: rgba(0, 0, 0, 0);
		
		ul {
			li {
				a {
					color: $foreground-color;
					
					&:hover {
						color: $background-color;
						background-color: $foreground-color;
						
						.result_preview {
							color: $background-color;
						}
						
						.result_type {
							color: $background-color;
							border-color: $background-color;
						}
					}
					
					.result_preview {
						color: rgba($foreground-color, 0.5);
					}
					
					.result_type {
						color: rgba($foreground-color, 0.4);
						border-color: rgba($foreground-color, 0.2);
					}
				}
			}
		}
	}
	
	a {
		color: #64aef9;
	}
	
	.platform_tag {
		$tag-background-color: darken($background-color, 3%);
		background-color: $tag-background-color;
		
		&.xbox {
			background-color: $tag-background-color;
			color: lighten($xbox-green, 20%);
		}
		
		&.playstation {
			background-color: $tag-background-color;
			color: lighten($playstation-blue, 45%);
		}
		
		&.pc {
			background-color: $tag-background-color;
			color: lighten($pc-orange, 10%);
		}
		
		&.nintendo {
			background-color: $tag-background-color;
			color: lighten($switch-red, 35%);
		}
	}
	
	table.generic {
		$table-color: mix($foreground-color, $background-color, 5%);
		
		td, th {
			border-color: $table-color;
		}
		
		thead {
			background-color: $table-color;
			color: $foreground-color;
			
			td, th {
				border-color: $table-color;
			}
		}
	}
	
	code, .code {
		background-color: mix($foreground-color, $background-color, 5%);
		color: $foreground-color;
		border-color: mix($foreground-color, $background-color, 15%);
	}
}

body.purple {
	background-color: $beacon-purple;
	color: #ffffff;
	
	@include dark-mode(#ffffff, $beacon-purple);
}

@media (min-width: $breakpoint_mini) {
	#header_logo {
		height: 80px;
	}
	
	#content_wrapper {
		margin-top: 156px;
	}
}

@media (min-width: $breakpoint_mobile) {
	body {
		font-size: 13pt;
	}
	
	h1 {
		font-size: 19pt;
	}
	
	h2 {
		font-size: 17pt;
	}
	
	h3 {
		font-size: 15pt;
	}
	
	#header_wrapper {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	#header {
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	
	#header_logo_cell {
		-ms-flex-preferred-size: 80px;
		flex-basis: 80px;
	}
	
	#header_links_cell {
		height: auto;
	}
	
	#header_links_cell ul {
		-webkit-box-pack: end;
		-ms-flex-pack: end;
		justify-content: flex-end;
		margin: 0px;
	}
	
	#header_links_cell li {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 0px;
		flex: 0 0 0;
	}
	
	#content_wrapper {
		margin-top: 141px;
	}
}

@media (min-width: $breakpoint_desktop) {
	.pagebody {
		width: $max_content_width;
		margin-left: auto;
		margin-right: auto;
	}
}

@supports (-webkit-backdrop-filter: blur(30px)) {
	#header_wrapper {
		-webkit-backdrop-filter: blur(30px);
		background-color: rgba(255, 255, 255, $header-blurred-opacity);
	}
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #262626;
		color: #ffffff;
	}
	
	@include dark-mode(#ffffff, #262626);
}