@mixin set-foreground-color($foreground-color) {
	#search_form {
		border-color: rgba($foreground-color, 0.05);
	}
	
	#mode_tabs_new, #mode_tabs_paste, #mode_tabs_upload {
		background-color: rgba($foreground-color, 0.05);
	}
	
	#mode_tabs div.selected, #mode_view, #mode_customizations {
		background-color: rgba($foreground-color, 0.1);
	}
	
	#browse_results div.properties-text {
		color: rgba($foreground-color, 0.5);
		border-color: rgba($foreground-color, 0.1);
	}
}

@include set-foreground-color(#000000);

#mode_tabs {
	display: -webkit-flex;
	display: flex;
}

#mode_tabs_new, #mode_tabs_paste, #mode_tabs_upload {
	padding: 6px 10px;
	text-align: center;
	margin-right: 6px;
	cursor: pointer;
}

#mode_tabs div.selected {
	font-weight: 700;
}

#mode_view, #mode_customizations {
	padding: 10px;
}

#mode_view_paste, #mode_view_upload {
	display: none;
}

#dino_level_field {
	max-width: 100px;
}

#options_table {
	width: 100%;
	box-sizing: border-box;
	border-collapse: collapse;
	
	td {
		padding: 5px;
	}
	
	td.label {
		white-space: nowrap;
		width: 10px;
		text-align: right;
		font-weight: 600;
	}
}

#upload_file_selector {
	display: none;
}

#search_form {
	border-width: 1px;
	border-style: solid;
	border-radius: 0.6em;
	margin-bottom: 20px;
	padding: 10px;
}

body.purple {
	@include set-foreground-color(#ffffff);
}

@media (prefers-color-scheme: dark) {
	@include set-foreground-color(#ffffff);
}

#browse_results {
	th.low-priority-detail, td.low-priority-detail {
		display: none;
	}
	
	div.properties-text {
		border-top-style: solid;
		border-top-width: 1px;
		font-size: smaller;
		margin-top: 0.5em;
		padding-top: 0.5em;
	}
}

textarea[name="content"] {
	font-family: source-code-pro, monospace;
	font-weight: 400;
	font-style: normal;
}

@media (min-width: 999px) {
	#browse_results {
		th.low-priority-detail, td.low-priority-detail {
			display: table-cell;
		}
		
		div.properties-text {
			display: none;
		}
	}
}