#index_updates {
	box-sizing: border-box;
	font-size: 10pt;
	padding-top: 15px;
	margin-top: 40px;
	border-style: solid;
	border-width: 0px;
	border-top-width: 1px;
	
	ul {
		list-style: none;
		padding-left: 0px;
		border-color: inherit;
		
		li {
			margin: 0px;
			padding: 0px;
			
			.title {
				font-weight: 600;
			}
		}
		
		li+li {
			margin-top: 15px;
			border-top-width: 1px;
			border-top-style: solid;
			border-color: inherit;
			padding-top: 15px;
		}
	}
}

#index_features {
	.feature {
		h2 {
			font-weight: 600;
			
			.subtitle {
				font-weight: 600;
			}
		}
		
		+.feature {
			margin-top: 40px;
		}
	}
}

#index_body {
	margin-top: 40px;
}

#hero_container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#hero {
	width: 100%;
	display: block;
	background-size: contain;
	background-image: url(/assets/images/hero15-mac.png);
	height: 0px;
	padding-top: calc((764/ 1312) * 100%);
}

#nitrado_container {
	margin-bottom: 2.5%;
	padding-top: 2.5%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#nitrado_logo {
	width: 100%;
	display: block;
	background-size: contain;
	height: 0px;
	background-image: url(/assets/images/nitrado.svg);
	background-repeat: no-repeat;
	background-position: center;
	padding-top: calc(110 / 800 * 100%);
}

@media (min-width: 840px) {
	#nitrado_container {
		margin-bottom: 20px;
		padding-top: 20px;
	}
}

@media (prefers-color-scheme: dark) {
	#hero {
		background-image: url(/assets/images/hero15-mac-dark.png);
	}
}

@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#hero {
		background-image: url(/assets/images/hero15-mac@2x.png);
	}

	@media (prefers-color-scheme: dark) {
		#hero {
			background-image: url(/assets/images/hero15-mac-dark@2x.png);
		}
	}
}

@media (min-width: 666px) {
	#index_body {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	
	#index_features {
		-webkit-box-flex: 1;
		-ms-flex: 1 1 0px;
		flex: 1 1 0;
		margin-right: 15px;
	}
	
	#index_updates {
		padding-top: 0px;
		padding-left: 15px;
		float: right;
		border-left-width: 1px;
		border-top-width: 0px;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
		margin-top: 0px;
	}
}
