div.right-screenshot {
	width: 50%;
	max-width: 429px;
	float: right;
	text-align: center;
	font-size: smaller;
	color: #808080;
	margin-bottom: 20px;
	margin-left: 20px;
	background-color: #f5f5f5;
	padding-bottom: 10px;
}

div.right-screenshot img {
	width: 100%;
	height: auto;
	border: 1px solid #f5f5f5;
	background-color: #ffffff;
	box-sizing: border-box;
}

div.right-screenshot p {
	margin-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
}

/*input[type="text"].beacon-spawn-code {
	background-color: transparent;
    border: 0px solid;
}

input[type="text"].beacon-spawn-code:focus {
	 outline: none;
}*/

#spawncodes {
	width: 100%;
	box-sizing: border-box;
}

#spawncodes td {
	padding: 5px;
}